/build
local.properties
apiKey.properties
buildOutputCleanup.lock
cache.properties
checksums.lock
config.properties
dependecies-accessors.lock
deploymentTargetDropDown.xml
executionHistory.lock
file-system.probe
fileHashes.bin
fileHashes.lock
gc.properties
gradle.xml
kotlinc.xml
last-build.bin
md5-checksums.bin
migrations.xml
misc.xml
movieapp.app.iml
outputFiles.bin
sha1-checksums.bin
vcs.xml
/.idea/compiler.xml